## Задача№1 

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [22]:
data_base = pd.read_csv('ratings.csv')
data_base_movie = pd.read_csv('movies.csv')
joined = data_base.merge(data_base_movie, on='movieId', how='left',)

,rating,title,genres
0,2.5,Dangerous Minds (1995),Drama
1,3.0,Dumbo (1941),Animation|Children|Drama|Musical
2,3.0,Sleepers (1996),Thriller
3,2.0,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,4.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [29]:
def rating_class(row,lr =2, mr =4, hr = 5):
    if row['rating'] <= lr:
        return ('Низкий рейтинг')
    elif lr < row['rating'] <= mr:
        return('Средний рейтинг')
    elif 4.5 <= row['rating'] <= hr:
        return ('Высокий рейтинг')
    
joined['classification'] = joined.apply(rating_class, axis=1)
joined.head()

,userId,movieId,rating,timestamp,title,genres,classification
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,Средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,Средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,Низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,Средний рейтинг

## Задача№2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [66]:
df = pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [82]:
def geo_class(row):
    if (('москва' in row['keyword']) or ('тула' in row['keyword']) or ('ярославль' in row['keyword'])):
        return ('Центр')
    elif (('петербург' in row['keyword']) or ('псков' in row['keyword']) or ('мурманск' in row['keyword'])):
        return ('Северо-Запад')
    elif (('владивосток' in row['keyword']) or ('сахалин' in row['keyword']) or ('хабаровск' in row['keyword'])):
        return ('Дальний Восток')
    else:
        return('undefined')

In [83]:
df['geo-classification'] = df.apply(geo_class, axis=1)
df.head()

         keyword     shows geo-classification
0             вк  64292779          undefined
1  одноклассники  63810309          undefined
2          порно  41747114          undefined
3           ютуб  39995567          undefined
4      вконтакте  21014195          undefined

In [84]:
df.groupby('geo-classification').count().head()

                    keyword  shows
geo-classification
undefined             99253  99253
Дальний Восток           94     94
Северо-Запад            266    266
Центр                   387    387